nav {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

nav #searchBar {
  display: flex;
  align-items: center;
}

.Icon {
  width: auto;
  height: 2rem;
}
